# Asatru PHP - App environment configuration file
# 
# Scheme:
#   name=value
# Example
#   APP_NAME="My App name"
# Datatypes:
#   string, integer, float, boolean and null (auto detected)

# App settings
APP_NAME="Asatru PHP"
APP_VERSION=1.0
APP_AUTHOR="Daniel Brendel"
APP_CONTACT="dbrendel1988@gmail.com"
APP_DESCRIPTION=""
APP_DEBUG=true
APP_BASEDIR=""
APP_TIMEZONE=null
APP_ADMIN_ACCESS_TOKEN=""
APP_ENABLE_BLOG=false
APP_ALLOW_BLOG_HTML=false
APP_CACHE_DURATION=125

# Links
LINK_SOCIAL_GITHUB=""
LINK_SOCIAL_STEAM=""
LINK_SOCIAL_ITCHIO=""
LINK_SOCIAL_YOUTUBE=""
LINK_SOCIAL_LINKEDIN=""
LINK_SOCIAL_MASTODON=""
LINK_SOCIAL_BLUESKY=""
LINK_SOCIAL_INSTAGRAM=""

# Support links
APP_GITHUB_SPONSOR=""
APP_DONATION_KOFI=""

# Project list
PL_HORTUSFOX_GITHUB=""
PL_HORTUSFOX_HOMEPAGE=""
PL_HORTUSFOX_DOCUMENTATION=""
PL_MITTELALTEREVENTS_HOMEPAGE=""
PL_MITTELALTEREVENTS_ANDROIDAPP=""
PL_MITTELALTEREVENTS_INSTAGRAM=""
PL_HELPREALM_GITHUB=""
PL_HELPREALM_HOMEPAGE=""
PL_STEAMWIDGETS_GITHUB=""
PL_STEAMWIDGETS_HOMEPAGE=""
PL_AQUASHELL_GITHUB=""
PL_AQUASHELL_HOMEPAGE=""
PL_CDG_STEAM=""
PL_CDG_HOMEPAGE=""
PL_CPW_STEAM=""
PL_CPW_HOMEPAGE=""
PL_CGE_STEAM=""
PL_HFG_STEAM=""
PL_ASATRUPHP_GITHUB=""
PL_ASATRUPHP_DOCUMENTATION=""

# Session
SESSION_ENABLE=true
SESSION_DURATION=0
SESSION_NAME=null

# Database settings
DB_ENABLE=false
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD=""
DB_PORT=3306
DB_DATABASE="portfolio"
DB_DRIVER=mysql
DB_CHARSET="utf8mb4"

# Mastodon settings
MASTODON_SERVER_INSTANCE=""
MASTODON_ACCESS_TOKEN=""

# BlueSky settings
BLUESKY_INSTANCE=""
BLUESKY_HANDLE=""
BLUESKY_PASSWORD=""

# SMTP settings
SMTP_FROMNAME="Test"
SMTP_FROMADDRESS="test@domain.tld"
SMTP_HOST=""
SMTP_PORT=587
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_ENCRYPTION=tls

# Logging
LOG_ENABLE=true